.container {
    width: 470px;
    height: 499px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
}

.container:hover {
    background-color: var(--pink);
}

.image {
    width: 242px;
    height: 212px;
}

@media screen and (min-width: 900px) and (max-width: 1378px) {
    .container {
        width: 300px;
        height: 200px;
    }
    .image {
        width: 150px;
        height: 136px;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 900px) {
    .container {
        width: 350px;
        height: 250px;
    }

    .image {
        width: 203px;
        height: 186px;
    }
    
}

@media screen and (max-width: 414px) {
    .container {
        max-width: 414px;
        /* width: 100%; */
        height: 300px;
    }

    .image {
        width: 143px;
        height: 126px;
    }

}