.carouselContainer {
    display: flex;
    flex-direction: column;
}

.prevArrow {
    top: 105%;
    right: 250px;
    cursor: pointer;
    position: absolute;
}

.nextArrow {
    top: 105%;
    right: 105px;
    cursor: pointer;
    position: absolute;
}

.nextArrow img {
    width: 46px;
}

.arrowButton {
    width: 78px;
    height: 48px;
    border: none;
    display: flex;
    cursor: pointer;
    border-radius: 42%;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.arrowButtonTop {
    right: 44%;
    width: 97px;
    height: 64px;
    border: none;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 45%;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.slidesNumbers {
    gap: 3px;
    bottom: 5%;
    right: 13%;
    display: flex;
    position: absolute;
    align-items: flex-end;
}

.currentSlide {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    font-family: 'Rubik';
    letter-spacing: 0.15em;

}

.slideCount {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    font-family: 'Rubik';
    letter-spacing: 0.15em;
    color: rgba(35, 35, 35, 0.2);

}

.slash {
    font-size: 20px;
    color: rgba(35, 35, 35, 0.2);
}

/*  */

div[tabindex="-1"] {
    display: flex !important;
    justify-content: center;
}

.slick-slider.slick-vertical .slick-slide {
    padding-bottom: 10px !important;
}
@media screen and (min-width: 1379px) and (max-width: 1439px) {
    .slidesNumbers {
        right: 14%;
    }
}
@media screen and (min-width: 1260px) and (max-width: 1379px) {
    .slidesNumbers {
        right: 14%;
        bottom: 10%;
    }
}
@media screen and (min-width: 1135px) and (max-width: 1260px) {
    .slidesNumbers {
        right: 16%;
        bottom: 10%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1135px) {
    .slidesNumbers {
        right: 18%;
        bottom: 10%;
    }
}

@media screen and (min-width: 1010px) and (max-width: 1024px) {
    .slidesNumbers {
        right: 19%;
        bottom: 10%;
    }
}

@media screen and (min-width: 950px) and (max-width: 1010px) {
    .slidesNumbers {
        right: 20%;
        bottom: 10%;
    }
}

@media screen and (min-width: 900px) and (max-width: 950px) {
    .slidesNumbers {
        right: 21%;
        bottom: 10%;
    }
}

@media screen and (min-width: 820px) and (max-width: 900px) {
    .slidesNumbers {
        right: 22%;
        bottom: 10%;
    }
}


@media screen and (min-width: 820px) and (max-width: 900px) {
    .slidesNumbers {
        right: 22%;
        bottom: 10%;
    }
}


@media screen and (min-width: 768px) and (max-width: 820px) {
    .slidesNumbers {
        right: 25%;
        bottom: 10%;
    }
}

     @media screen and (min-width: 414px) and (max-width: 768px) {
        .slidesNumbers {
            display: none;
        }
    }

    @media screen and (max-width: 414px) {
        .arrowButtonTop {
            right: 36%;
        }
        .slidesNumbers {
            display: none;
        }
    } 