@import url('../../styles/variable.css');

.headerMainContainer {
    top: 0;
    z-index: 0;
    height: 100vh;
    display:flex;
    padding-inline: 90px;
    flex-direction: column;
    background: var(--dark-gray);
    justify-content: space-between;
}

.headerWave {
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
}

.headerBackground {
    top: 0;
    right: 0;
    /* width: 100%; */
    z-index: 0;
    position: absolute;
}

@media screen and (max-width: 768px) {
    .headerMainContainer {
        top: 0;
        gap: 270px;
        z-index: 0;
        height: 100vh;
        display:flex;
        padding-inline: 17px;
        flex-direction: column;
        justify-content: start;
        background: var(--dark-gray);
    }
}
@media only screen and (min-width: 769px) and (max-width: 1320px){
}


@media screen and (max-width: 414px) {
    .headerMainContainer {
        top: 0;
        gap: 270px;
        z-index: 0;
        height: 100vh;
        display:flex;
        padding-inline: 17px;
        flex-direction: column;
        justify-content: start;
        background: var(--dark-gray);
    }
    .headerBackground{
        top: 0;
        height: 894px;
        position: absolute;
    }
    
}