.textContainer {
    width: 762px;
    height: 604px;
    z-index: 21;
    position: relative;
}

.text {
    direction: rtl;
    font-size: 30px;
    font-weight: 400;
    align-items: right;
    line-height: 60px;
    font-family: 'Rubik';
    white-space: pre-line;
}

@media screen and(min-width: 1024px) and (max-width: 1439px) {
    .text {
        font-size: 20px;
        font-weight: 400;
        line-height: 50px;
    }
    .textContainer {
        width: 600px;
        display: flex;
        height: 655px;
        padding-inline:20px;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .text {
        font-size: 20px;
        font-weight: 400;
        line-height: 60px;
    }
    .textContainer {
        width: 600px;
        display: flex;
        height: 655px;
        padding-inline:20px;
        justify-content: center;
    }
}
@media screen and (min-width: 414px) and (max-width: 768px) {
    .text {
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
    }
    .textContainer {
        width: 400px;
        display: flex;
        height: 655px;
        padding-inline:20px;
        justify-content: center;
    }
}
/* @media screen and (max-width: 414px) {
    .text {
        font-size: 20px;
        font-weight: 400;
        line-height: 50px;
    }

    .textContainer {
        width: 414px;
        height: 655px;
    }
} */

@media screen and (max-width: 414px) {
    .text {
        font-size: 18px;
        font-weight: 400;
        line-height: 50px;
    }

    .textContainer {
        width: 90%;
        height: 655px;
    }
}


@media screen and (max-width: 360px) {
    .text {
        font-size: 15px;
        font-weight: 400;
        line-height: 50px;
    }

    .textContainer {
        width: 100%;
        height: 655px;
    }
}