.options {
    gap: 42px;
    display: flex;
    padding-left: 11px;
}

.optionContainer {
    gap: 14px;
    display: flex;
    align-items: center;

}

.optionText {
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    color: var(--white);
    font-family: 'Rubik';
}


@media screen and (max-width: 820px) {
    .options {
        /* gap: 14px; */
        display: flex;
        flex-direction: column;
    }

}

/* @media only screen and (max-width: 534px) {
    .optionText {
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        color: var(--white);
        font-family: 'Rubik';
    }
} */

@media only screen and (max-width: 1320px) {
    .options {
        display: flex;
        /* flex-direction: column; */
    }
}


@media screen and (max-width: 414px) {
    .options {
        gap: 8px;
        display: flex;
        padding-left: 11px;
    }
    .optionText {

        font-size: 20px;
        font-weight: 400;
        line-height: 21px;
        font-family: 'Rubik';
        color: var(--white);
    }

}

@media screen and (max-width: 400px) {
    .options {
        gap: 6px;
        display: flex;
        padding-left: 11px;
    }
    .optionText {
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        font-family: 'Rubik';
        color: var(--white);
    }
}
