.navbar {
    z-index: 20;
    display: flex;
    padding-top: 27px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbarMainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 105px;
}

.menuIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.languagesContainer {
    gap: 10px;
    display: flex;
}

.languageContainer {
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 100%;
    align-items: center;
    line-height: 23.7px;
    font-family: "Rubik";
    justify-content: center;
    text-transform: uppercase;
    background-color: inherit;
}

.languageColorUnchecked {
    border: none;
    color: var(--white-opacity);
}

.labguageColorUncheckedMenu {
    border: none;
    color: rgba(62, 62, 62, 0.2);
}

.languageCircleCheckedWhite {
    border: 1px solid var(--white);
    color: var(--white);
}

.languageCircleCheckedBlack {
    border: 1px solid var(--black);
    color: var(--black);
}

.signInButton {
    height: 75px;
    width: 266px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
    border-style: none;
    border-radius: 60px;
    font-family: 'Rubik';
    line-height: 35.55px;
    background-color: var(--turquoise);
}

@media only screen and (max-width: 768px) {
    .signInButton {
        display: none;
    }

    .navbarMainContainer {
        gap: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menuIcon {
        width: 35px;
        height: 35px;
    }

    .languagesContainer {
        gap: 5px;
    }

    .languageContainer {
        border: none;
        width: 34.35px;
        height: 34.35px;
        font-size: 10px;
        color: var(--white-opacity);
    }

    .languageColorUnchecked {
        border: none;
        color: var(--white-opacity);
    }

    .labguageColorUncheckedMenu {
        border: none;
        color: rgba(62, 62, 62, 0.2);
    }

    .languageCircleCheckedWhite {
        border: 1px solid var(--white);
        color: var(--white);
    }

    .languageCircleCheckedBlack {
        border: 1px solid var(--black);
        color: var(--black);
    }
}