.headerRightAnimation {
    top: 0;
    right: 0;
    z-index: 0;
    position: absolute;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        transform: matrix3d(1, 0, 0, 0,
                0, 1, 0, 0,
                1, 0, 1, 0,
                0, 0, 0, 1);
    }

    100% {
        transform: matrix3d(1, 0, 0, 0,
                0, 1, 1, 0,
                1, 0, 1, 0,
                0, 0, 0, 1);
    }

}