.menuContainer {
  top: 0;
  left: 0;
  height: 0;
  z-index: 18;
  width: 100%;
  position: fixed;
  background-color: var(--white);
  overflow: hidden;
  animation: expandMenu 0.5s linear forwards;
}

.menuTexts {
  direction: rtl;
  font-size: 50px;
  font-weight: 500;
  line-height: 100px;
  text-align: center;
  /*  */
  z-index: 20;
  position: relative;
  /*  */
  font-family: 'Rubik';
}

.menuTexts:hover {
  color: var(--turquoise);
}

.menu {
  gap: 100px;
  height: 100vh;
  display: flex;
  padding-top: 148px;
  /* padding-inline: 200px; */
  flex-direction: column;
  justify-content: center;
}

.closeIconContainer {
  z-index: 20;
  display: flex;
  position: relative;
  justify-content: center;
}

.closeIcon {
  width: 28px;
  height: 28px;
  cursor: pointer;

}

.menuIconTextsContainer {
  gap: 27px;
  display: flex;
  flex-direction: column;
}

.lineStyle {
  background-color: var(--black);
}

@keyframes expandMenu {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 100vh;
    opacity: 1;
  }
}

.menuAnimatedImage {
  top: 0;
  height: 100vh;
  right: 0;
  position: absolute;
}

.phenomenaTextColor {
  color: var(--black);
}

/* .menuTextsContainer {
  width: 559px;
  height: 530px;

} */

.turquoise {
  color: var(--turquoise);
}

/* 414 max width */

.phenomenaGroup {
  display: flex;
  justify-content: center;
}

@media screen and(min-width: 414px) and (max-width: 768px) {
  .menu {
    padding-inline: 0px;
  }
  
}
 @media screen and (max-width: 414px) {
  .menuTexts {
    direction: rtl;
    font-size: 35px;
    font-weight: 500;
    line-height: 70px;
    font-family: 'Rubik';
    text-align: center;
  }

  .menuTextsContainer {
    gap: 0px;
    display: flex;
    flex-direction: column;
  }

  .menu {
    gap: 100px;
    height: 100vh;
    display: flex;
    padding-top: 0px;
    padding-inline: 0px;
    flex-direction: column;
    justify-content: center;
  }

  .phenomenaContainer {
    display: flex;
    z-index: 20px;
  }

  .phenomenaTextColor {
    z-index: 20;
    display: none;
  }

  .closeIcon {
    width: 22px;
    height: 22px;

  }

  .closeIconContainer {
    top: -110px;
    z-index: 21;
    display: flex;
    position: relative;
    padding-inline-end: 10px;
    justify-content: flex-end;
  }

  .menuContainer {
    z-index: 20;
  }
} 
