.container {
    gap: 20px;
    right: 70px;
    top: 140px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
}

.arrowButton {
    width: 38px;
    height: 58px;
    border: none;
    display: flex;
    cursor: pointer;
    padding-top: 20px;
    border-radius: 45%;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.text {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Rubik';
    writing-mode: vertical-lr;
}

.line1 {
    width: 2px;
    height: 327px;
    background-color: var(--black);
}

.line2 {
    width: 2px;
    height: 327px;
    background: linear-gradient(180deg, #232323 0%, rgba(255, 255, 255, 0) 100%);
}


@media screen and (max-width: 768px) {
    .container {
        display: none;
    }
    
}
@media screen and (max-width: 414px) {
    .container {
        display: none;
    }    
}
