.headerOverview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleSubtitle {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.titleSubtitleOptions {
    gap: 57px; 
    display: flex;
    flex-direction: column;
}

.titleSubtitleOptionsContainer {
    gap: 201px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .titleSubtitle {
        /* width: 354px; */
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1320px){
    .titleSubtitle {
        bottom: 100px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1320px){
    .titleSubtitle {
        gap: 70px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 414px) {
    .titleSubtitle {
        gap: 15px;
        display: flex;
        flex-direction: column;
    }
    .titleSubtitleOptions {
        gap: 54px; 
        display: flex;
        flex-direction: column;
    }

}