*{
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Rubik';
  src: url(../public/assets/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'PTSans';
  src: url(../public/assets/fonts/PTSans-Regular.ttf);
}