*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: clip; */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Rubik';
  src: url(../public/assets/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'PTSans';
  src: url(../public/assets/fonts/PTSans-Regular.ttf);
}